#header ul button:hover path,
#header ul a:hover path{
    fill: var(--primary-color);
    transition: .3s ease;
}
#header ul div:hover path{
    fill: var(--primary-color);
    transition: .3s ease;
}
.dark #header ul div path{
    fill: var(--color-white);
}
.dark #header ul div:hover path{
    fill: var(--primary-color);
    transition: .3s ease;
}
#pure-expand{
    position: relative;
}
.dark pure-expand {
    --pure--expand-border-color: var(--color-white);
    --pure--expand-text-color: var(--color-white);
    --pure--expand-bg-color: var(--color-gray-bg-dark)
} 